include ../mixins/card
-
    function Card (img, title, likes, dislikes, flag, isLiked)
    {
        this.img = img;
        this.title = title;
        this.likes = likes;
        this.dislikes = dislikes;
        this.flag = flag;
        this.isLiked = isLiked;
    }
    var PATH = 'img/';
    var cards = [
        new Card(PATH + 'lion.jpg', 'Leeuwenhare', '56', '2', PATH + 'uk.png', true),
        new Card(PATH + 'lion.jpg', 'Wenhar', '44', '0', PATH + 'ru.png', true),
        new Card(PATH + 'lion.jpg', 'Wenhar', '16', '20', PATH + 'uk.png', false),
        new Card(PATH + 'lion.jpg', 'Leeuwenhare', '16', '2', PATH + 'ru.png', true)
    ];

section.section.search-results
    .grid-results
        each card in cards
            .card__container
                +card(card)