include ../mixins/card
-

    var PATH = {
        cards: 'assets/img/cards/',
        flags: 'assets/img/langs/'
    };
    var cards = [
        new searchCard(PATH.cards + 'card2.png', 'Leeuwenhare', '56', '2', PATH.flags + 'uk.png', true),
        new searchCard(PATH.cards + 'card3.png', 'Wenhar', '44', '0', PATH.flags + 'ru.png', true),
        new searchCard(PATH.cards + 'card4.png', 'Wenhar', '16', '20', PATH.flags + 'uk.png', false),
        new searchCard(PATH.cards + 'card5.png', 'Leeuwenhare', '16', '2', PATH.flags + 'ru.png', true)
    ];

section.section.search-results
    .grid-results
        each card in cards
                +card(card)