include ../mixins/card
-
    function Card (img, from, to, members, date, title, likes, dislikes, flag, isLiked)
    {
        this.img = img;
        this.from = from;
        this.to = to;
        this.members = members;
        this.date = date;
        this.title = title;
        this.likes = likes;
        this.dislikes = dislikes;
        this.flag = flag;
        this.isLiked = isLiked;
    }
    var PATH = 'img/';
    var cards = [
        new Card(PATH + 'lion.jpg', 'Portugal', 'Ukraine', 'Name1, Name2, Name3', '20.20.12', 'Leeuwenhare', '56', '2', PATH + 'uk.png', true),
        new Card(PATH + 'lion.jpg', 'USA', 'Russia', 'Name1, Name2, Name3', '21.12.16', 'Wenhar', '44', '0', PATH + 'ru.png', true),
        new Card(PATH + 'lion.jpg', 'Spain', 'UK', 'Name1, Name2, Name3', '20.20.12', 'Wenhar', '16', '20', PATH + 'uk.png', false),
        new Card(PATH + 'lion.jpg', 'Italy', 'Ukraine', 'Name1, Name2, Name3', '20.20.12', 'Leeuwenhare', '16', '2', PATH + 'ru.png', true)
    ];

section.section.padding-collapse
    .row
        .col-xs-1.section-title
            h2.alert.alert-warning.section-title Latest photos
        .col-xs-11
            .row
                each card in cards
                    .col-xs-12.col-md-6.col-lg-3
                        +card(card)
section.section.padding-collapse
    .row
        .col-xs-1.section-title
            h2.alert.alert-danger best photos
        .col-xs-11
            .row
                each card in cards
                    .col-xs-12.col-md-6.col-lg-3
                        +card(card)