-
    var menu = {'index': 'Главная', 'article': 'Запись', 'login': 'Логин', 'search': 'Поиск'};
include ../mixins/lang
footer#footer
    .container.text-center
        .row
            .col-xs-12.col-sm-2.col-md-3.col-lg-2
                .center-block
                    +selectLang(languages, 'dropup')
            .col-xs-12.col-sm-8.col-md-6.col-lg-8
                .row
                    .col-xs-12.col-md-12
                        ul.menu.center-block
                            each value, key in menu
                                li: a.btn.btn-transparent(href='./' + key+'.html')= value
                    .col-xs-12
                        p.relawey.text-muted.text-center © 2016 HortaWall. Все права защищены
            .col-xs-12.col-sm-2.col-md-3.col-lg-2
                ul.nav.navbar-nav.social-links
                    li.icon-circle-wrapper: a.circle-o(href="#"): i.fa.fa-lg.fa-twitter
                    li.icon-circle-wrapper: a.circle-o(href="#"): i.fa.fa-lg.fa-facebook