include ../mixins/lang.pug
include ../mixins/log-btn.pug
header.section#header.row
    .container
        .pull-left
            +selectLang(languages, 'dropdown')
        .pull-right
            +logBtn('home')
    .text-center.center-block
        header
            h1.site-title HortalWall
            span.site-description.title-border
                span Все фото с Hortawall собраны здесь!
                br
                a(href="#") Подробнее о проєкте.
        form.form-horizontal.center-block.search
            div
                label.control-label.sr-only(for="q") Искать фото
                input#q.form-control(type="search", name="q", placeholder="Искать фото...")
                button#submit(type="submit"): i.fa.fa-lg.fa-search
                span.help-block Например: имя лодки, член команды, национальность, год прибытия