include ../mixins/lang.pug
include ../mixins/log-btn.pug
header#header.row.section.intro
    .container
        .pull-left
            +selectLang(languages, 'dropdown')
        .pull-right
            +logBtn('home')
    .text-center.center-block
        header
            h1.site-title HortalWall
            span.site-description.title-border
                div.lead Все фото с Hortawall собраны здесь!
                .fz4
                    a(href="#") Подробнее о проєкте.
        form.form-horizontal.center-block.search
            include input-search
            span.help-block Например: имя лодки, член команды, национальность, год прибытия