.search
    .input-group.input-group-lg
        input#q.form-control(type="text", placeholder="Искать фото...")
        span.input-group-btn
            button.btn.btn-default#submit(type="submit"): i.fa.fa-2x.fa-search