include ../mixins/log-btn
include ../mixins/lang
-
    var PATH = 'img/';
    var languages = [{img: PATH + 'uk-UK.png', code: 'ENG'}];
nav.navbar.navbar-default
    header.container-fluid
        .navbar-header
            button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="navbar")
                span.sr-only Toggle nav
                each i in [0,1,2]
                    span.icon-bar
            .navbar-bran
                +langSwitcher(languages, false)
        .navbar-form.navbar-left(role="search")
            .form-group
                input.form-control(type="text" placeholder="Поиск")
        .collapse.navbar-collapse.navbar-left#navbar
            span.pull-left Quick filters:
            include quick-filters
        .nav.navbar-nav
            +logBtn('page')