include ../mixins/log-btn
include ../mixins/lang

header#header
    nav.navbar.navbar-default.navbar-black
        .container
            .row
                .col-xs-12.col-lg-8
                    .row
                        .col-xs-2
                            +selectLang(languages, 'dropdown')
                        .col-xs-10
                            form.navbar-form.search-form(role="search")
                                .form-group
                                    include input-search
                .col-xs-12.col-lg-4
                    .nav.navbar-form.text-center
                        +logBtn('login')