ul.nav.navbar-nav.quick-filters.text-center
	each link, filter in {'Quick filters': '/', 'Filters': 'login.html', 'Quirs': 'search.html', 'Kfilters': 'article.html', 'Quick Filters': '/', 'Flters': '/'}
		li: a(href=link)= filter