include ../mixins/card
-
    function MiniCard(img, title, likes, dislikes, flag, isLiked)
    {
        var text = 'likes!';
        this.img = img;
        this.title = title;
        this.likes = likes;
        this.dislikes = dislikes;
        this.flag = flag;
        this.isLiked = isLiked;
    }

    MiniCard.prototype.cef = function()
    {
        return this.likes / this.dislikes;
    }
    var PATH = {
        cards: 'assets/img/cards/',
        flags: 'assets/img/langs/'
    };

    var cards = [
        new MiniCard(PATH.cards + 'card2.png', 'Lion', '66', '5', PATH.flags + 'ru.png', true),
        new MiniCard(PATH.cards + 'card3.png', 'Keen', '65', '4', PATH.flags + 'uk.png', true),
        new MiniCard(PATH.cards + 'card4.png', 'Kong', '63', '2', PATH.flags + 'ru.png', false),
        new MiniCard(PATH.cards + 'card5.png', 'John', '61', '0', PATH.flags + 'uk.png', true),
        new MiniCard(PATH.cards + 'card6.png', 'Mike', '59', '1', PATH.flags + 'ru.png', true),
        new MiniCard(PATH.cards + 'card7.png', 'Sandy', '58', '2', PATH.flags + 'ru.png', false),
        new MiniCard(PATH.cards + 'card2.png', 'Elise', '57', '3', PATH.flags + 'uk.png', false),
        new MiniCard(PATH.cards + 'card3.png', 'Keen', '65', '4', PATH.flags + 'uk.png', true),
        new MiniCard(PATH.cards + 'lion.jpg', 'Mikek', '58', '4', PATH.flags + 'ru.png', true),
        new MiniCard(PATH.cards + 'card6.png', 'Mike', '59', '1', PATH.flags + 'ru.png', true),
        new MiniCard(PATH.cards + 'lion.jpg', 'Mikek', '58', '4', PATH.flags + 'ru.png', true),
        new MiniCard(PATH.cards + 'card5.png', 'John', '61', '0', PATH.flags + 'uk.png', true),
        new MiniCard(PATH.cards + 'lion.jpg', 'Mikek', '58', '4', PATH.flags + 'ru.png', true)
    ];
section#search-results
    .grid-results
        each card in cards
                +card(card, true)