.select-lang
    display: inline-block
    margin-top: 20px
    li
        list-style none
        color #fff
        span
            margin-left 10px
            vertical-align: middle
            font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    button
        background-color: transparent;
        border: none
        padding: 0
        img
            width 40px
    .dropdown-menu
        background-color: transparent;
        box-shadow: none;
        border: none
        outline: none
        li
            img
                width: 23px
            cursor: pointer
            padding-left: 8px
            margin-bottom: 10px