.select-lang
    margin-top: 20px
    li
        list-style none
        color #fff
        span
            margin-left 10px
            vertical-align: middle
    button
        background-color: transparent;
        border: none
        padding: 0
    .dropdown-menu
        background-color: transparent;
        box-shadow: none;
        border: none
        outline: none
        li
            cursor: pointer
            margin-bottom: 10px