.card
    margin: auto
    max-width: 310px
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif
    &_square
        margin: 5px
        .card__title
            margin-top: 15px
            color: #fff
    &:hover &__img-info
        opacity: 1
    .panel-heading
        padding: 0
    &__img
        padding: 0
        &-container
            position: relative
        &-info
            position: absolute
            top: 0
            left: 0
            bottom: 0
            right: 0
            background-color: rgba(0, 0, 0, 0.7)
            padding: 10px 15px
            opacity: 0
            color: #fff
            transition opacity .3s
            display: flex
            flex-direction: column
            justify-content: space-between
    &__likes
        font-size: 18px
        &_pb
            padding-bottom: 25px
        span
            padding-right: 5px
    &__liked
        margin-top: 20px
    &__like-count
        font-family: "Georgia", sans-serif;
    &__date
        position: absolute
        bottom: -1px
        left: 20px
        padding: 0 3px
        background-color: #ffffff
        color: #000000
        &_center
            left: 50%
            transform translateX(-50%)
    &__members
        margin-bottom: 50px
        .fa
            margin-right: 10px