#registration-section
    margin: 50px auto
.login-container
    background-image: url(../img/bg-login.png)
    background-size: cover;
    input
        color: #555;
        font-weight: 800
        text-align: center
        margin: 25px auto
        max-width: 300px
        background-color: #f5cf8c;
        box-shadow: 0 10px 10px rgba(10,10,10, .7)
        &::placeholer
            color: #555
.login-form
    background-color: #ffffff
    max-width: 600px
    border-radius: 5px
    margin: 20px auto
    padding: 50px
    .login-reginfo
        margin: 20px auto
    &-container
        max-width: 420px
        margin: auto
    .login-container
        max-width: 350px
        margin: auto
    .login-help
        text-align: center
        margin: 40px auto
        max-width: 240px
        &_full
            margin: 20px auto
            max-width: none