@require "card"
@require "quick-filters"
@require "grid-results"
@require "common"
@require "select-lang"
@require "actions-block"
@import "login.styl"

.menu
    list-style-type: none
    padding-left: 0
    li
        display: inline-block
.mirror
    transform: scale(-1,1)
.section
    position: relative
    padding-top: 50px
    padding-bottom: 50px
    &-title
        position: absolute
        left: -15px
        padding-left: 0
        h2
            writing-mode: vertical-lr
            transform: rotate(180deg)
            padding: 20px 5px
            margin: 0 0 0 -5px
            height: 340px
            font-size: 2rem

.search
    max-width: 550px
    position: relative
    margin-top: 50px
#q
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif
    font-weight: bold
#submit
    position: absolute
    right: 0
    top: 9px
    border: none
    background-color: transparent;
    i
        color: #b3b3b3
#project
    background: url(../img/bg-section.png)
    -webkit-background-size: cover
    background-size: cover
    color: #fff
    h3
        margin: 0
        padding: 0
    p
        margin: 50px 0
.text-brand
    color: #80C785
.circle-o
    text-align: center
    width: 45px
    height: 45px
    line-height: 25px !important
    border-radius: 100% !important
    background-color: #000 !important
    border: 1px solid #80C785 !important
    color: #80C785
.lang-switcher-wrapper
    position: relative
.lang-switcher
    cursor: pointer
    position: relative
    list-style-type: none
    margin-top: 10px
    &:hover .lang
        display: block
.lang
    color: #fff
    img
        width: 40px
    span
        margin-left: 10px
    display: none
    &.active
        display: block

#history
    background: url(../img/bg-light.png)
    background-color: #92D3E9
    background-size: cover
    .jumbotron
        background-color: transparent;
#add
    .jumbotron
        background-color: #E6E5E6;
#carousel-imgs
    .carousel-control.left, .carousel-control.right
        background-image: none
        color #0c0e0d
    .slide-text
        margin: 25px auto
    .slide-likes
        margin: 25px 0
        & > span
            margin-left: 10px
.navbar-black
    background-color: #000;

.title-border
    display: inline-block
    border: 2px solid #3fad46
    border-radius: 5px
    background-color: rgba(10, 10, 10, 0.5)
    padding: 10px
.page-title h1
    font-size: 4em
.relawey
    font-family: "Raleway", sans-serif;
.border-brand
    img
        padding: 20px
        background: transparent url(../img/border-brand.png)
        background-size: 100% 100%;
.flex-between
    display: flex
    justify-content: space-between;
.member-name,.member-pos
    max-width: 80px
    margin: 5px auto
.navbar-form
    .form-group
        position: relative
