@require "card"
@require "quick-filters"
@require "grid-results"
@require "common"
@require "select-lang"
@require "actions-block"
@require "login.styl"
@require "like-block"
.slide-stats
    max-width: 970px
    margin: 50px auto
.slide-desc
    margin-top: 40px
    font-size: 18px
.slide-img
    margin-top: 40px
.slide-likes
    margin: 30px 0
.slide-list
    font-family: "Raleway";
.menu
    list-style-type: none
    padding-left: 0
    li
        display: inline-block
.mirror
    transform: scale(-1,1)
.section
    position: relative
    padding-top: 50px
    padding-bottom: 50px
    &-title
        position: absolute
        left: -15px
        padding-left: 0
        h2
            writing-mode: vertical-lr
            transform: rotate(180deg)
            padding: 20px 5px
            margin: 0 0 0 -5px
            height: 340px
            font-size: 2rem

.search
    max-width: 550px
    position: relative
    margin-top: 50px
#q
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif
    font-weight: bold
#submit
    position: absolute
    right: 0
    top: 9px
    border: none
    background-color: transparent;
    i
        color: #b3b3b3

.text-brand
    color: #80C785
.circle-o
    text-align: center
    width: 45px
    height: 45px
    line-height: 25px !important
    border-radius: 100% !important
    background-color: #000 !important
    border: 1px solid #80C785 !important
    color: #80C785
.lang-switcher-wrapper
    position: relative
.lang-switcher
    cursor: pointer
    position: relative
    list-style-type: none
    margin-top: 10px
    &:hover .lang
        display: block
.lang
    color: #fff
    img
        width: 40px
    span
        margin-left: 10px
    display: none
    &.active
        display: block

#add
    .jumbotron
        background-color: #E6E5E6;
#carousel-imgs
    .carousel-control.left, .carousel-control.right
        background-image: none
        color #0c0e0d
    .slide-text
        margin: 25px auto
    .slide-likes
        margin: 25px 0
        & > span
            margin-left: 10px
.navbar-black
    background-color: #000;

.title-border
    display: inline-block
    border: 2px solid #3fad46
    border-radius: 5px
    background-color: rgba(10, 10, 10, 0.5)
    padding: 10px
.page-title h1
    font-size: 4em
.relawey
    font-family: "Raleway", sans-serif;
.carousel
    .glyphicon-chevron-left
        margin-left: -60px
    .glyphicon-chevron-right
        margin-right: -60px
.border-brand-wrapper
    display: flex
    justify-content: center
    position: relative
.border-corners
    position: relative
    display: inline-block
    padding: 2px
.border-brand
    background url(../img/corner-left-top.png) no-repeat top left, url(../img/corner-right-top.png) no-repeat top right, url(../img/corner-right-bottom.png) no-repeat bottom right, url(../img/corner-left-bottom.png) no-repeat bottom left
    padding: 20px
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    pointer-events none
.border-brand-wrapper
    img
        padding: 5px
        border: 10px solid #82ca87
        border-top-left-image: url(../img/corner-left-top.png)
        border-bottom-right-image: url(../img/corner-right-bottom.png)
        border-top-right-image: url(../img/corner-right-top.png)
        border-bottom-left-image: url(../img/corner-left-bottom.png)
.flex-between
    display: flex
    justify-content: space-between;
    flex-flow: row wrap;
.member-name,.member-pos
    max-width: 80px
    margin: 5px auto
.navbar-form
    .form-group
        position: relative
.dropdown-menu.inner .divider
    display: block
    padding: 0
    height: 1px
    pointer-events: none
.btn-group.bootstrap-select
    width: auto !important
    button
        box-shadow: 0 10px 10px rgba(10,10,10, .7)
        -webkit-border-radius: 5px
        -moz-border-radius: 5px
        border-radius: 5px
        overflow: hidden
.input-group.date
    box-shadow: 0 10px 10px rgba(10,10,10, .7)
    -webkit-border-radius: 5px
    -moz-border-radius: 5px
    border-radius: 5px
    overflow: hidden
    width: 200px
.image-title
    img
        margin: 0 10px