extends layouts/dashboard
block title
    title Dashboard
block content
    .container
        .row
            .col-xs-12
                h1 Welcome to Dashboard
                p: a(href="index.html") Go to main page