extends layouts/home.pug
block content
	.container-fluid
		include partials/header.pug
	.container-fluid
		include partials/card-section
	section#project.section
		.container
			.center-block.text-center
				h2.text-brand Project
				h2 HortalWall
				p.title-border.lead!= 'Мы создали этот проект что бы<br/> помочь вас сохранять память о<br/> ваших прибытиях в Хорту'
				div
					a(href="#", style={"margin-right": "15px"}).btn.btn-lg.btn-primary Зарегестрироваться сейчас
					a(href="#").btn.btn-lg.btn-danger Подписаться на новые фото
	include partials/search-result
	section.section#history
		.container
			.jumbotron.text-center
				h2 Horta Hisroty
				p.lead "In 1467, the Flemish nobleman Josse van Huerter returned to Faial on a second expedition, this time disembarking along the shore of
					| what would be known as Horta bay. He had a small chapel built, that would later form the nucleus of a small community known as Horta (a name derived from the transliteration of his name). The infante D. Fernando, Duke of Viseu, granted Huerter the first captaincy of the island on February 2, 1468. But, the settlement of the island was not chiefly by flemish peasantry or business interests. In fact, generally, settlers to the island were from hard-working farmers from continental Portugal, willing to work hard in new lands, from a cross-section  of northern Portugal. But, Huerter cultivated new business opportunities, attracting a second wave of settlers under the stewardship of  Willem van der Haegen (later transliterated to Guilherme da Silveira), who brought administrators, tradesmen, settlers and other compatriots to settle on the island."