extends layouts/login
block title
    title Login
block content
    section#registration-section
        form.form-horizontal.login-form.center-block
            fieldset
                h2.text-center Регистарция
                p.lead.login-help Вы можете зарегестрироваться с помощью своего емаил адреса
                .login-form-container
                    .input-group.input-group-lg
                        input#email.form-control.relawey(name="email", type="email", placeholder="your@email.com",required)
                    p.text-center.lead или использовать свой профиль в соц сетях:
                    ul.text-center.menu
                        each social in ['google-plus', 'instagram', 'twitter', 'facebook']
                            li: a.social-login.text-success(href="#")
                                span.fa.fa-stack.fa-2x
                                    .fa.fa-circle.fa-stack-2x.fa-3x
                                    i(class="fa fa-stack-1x fa-inverse fa-"+ social)
                    p.text-center.text-muted.lead
                        | Нажимая на
                        q Зарегестрироваться
                        | , вы подтверждаете, что ознакомлены и полностью согласны с
                        a(href="#", target="_blank")  условиями использования сайта.
                .divider
                div.text-center
                    a.btn.btn-primary.btn-lg(href="#") Зарегестрироваться