mixin likes(like, dislike, liked)
    - liked = liked ? '' : '-o'
    .like-block
        span.like-block__block
            a.text-success(href="#"): i.fa.fa-lg.fa-thumbs-up
            span.text-success.lead=like
        span.like-block__block
            a.text-warning(href="#"): i.fa.fa-lg.fa-thumbs-down
            span.text-warning.lead=dislike
        span.like-block__block
            a.text-danger(href="#"): i(class="fa fa-lg fa-heart"+liked)