mixin logBtn(page)
	case page
		when 'home'
			.actions.text-center
				.pull-right
					a#registration.btn.btn-lg.btn-transparent(href="login.html") Регистрация
				.pull-right
					a#login.btn.btn-lg.btn-transparent(href="login.html") Войти
				.center-block
					a#add-arrive.btn.btn-lg.btn-primary(href="#") Добавить прибытие
			- break;
		when 'page'
			.actions
					a.btn.btn-lg.btn-primary(href="#") Добавить прибытие
					a#login.btn.btn-lg.btn-transparent(href="login.html") Войти
					a#registration.btn.btn-lg.btn-transparent(href="login.html") Регистрация
			- break;
		when 'login-page'
			.row.actions
				.col-xs-12
					a(href="login.html").btn.btn-lg.btn-default Войти в свой аккаунт
				.col-xs-12
					a(href="#").btn.btn-lg.btn-primary Добавить прибытие
			- break;
		when 'login'
			.actions
				a(href="#").btn.btn-lg.btn-primary Добавить прибытие
				.btn-group.logged-in
					button.btn.btn-warning Nickname
					button.btn.btn-warning.dropdown-toggle(data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")
						span.caret
						span.sr-only Toggle Dropdown
					ul.dropdown-menu
						li: a(href="#") Panel
						li: a(href="#") Aciton
						li(role="separator").divider
						li: a(href="#") Logout
			- break;
		when 'not-login'
				.row.actions
					.col-xs-6
						a(href="#").btn.btn-lg.btn-default Добавить прибытие
					.col-xs-3
						a(href="login.html").btn.btn-lg.btn-default Войти
					.col-xs-3
						a(href="login.html").btn.btn-lg.btn-default Регистрация
		default
			h3= page + ' state undefined'