.nav-pills.nav-warning
  margin-top: 30px
  & > li.active > a,
  & > li.active > a:hover,
  & > li.active > a:focus
    background-color: #f0ad4e;
    color: #000;


  & > li > a
    color: #000;
  & > li > a:focus
    background-color: #f0ad4e;
  & > li > a:hover
    background-color: #f0ad4e;

.input-group.date.field-birthday
  overflow: hidden;
  width: 100%;
  box-shadow: none;
  border: 1px solid #dddddd;

@media screen and (max-width: 400px)
  .account .h1
    font-size: 30px