.fz1
    font-size: 41px
.fz2
    font-size: 34px
.fz3
    font-size: 28px
.fz4
    font-size: 20px
.fz5
    font-size: 16px
.fz6
    font-size: 14px

.site-title
    font-size: 4em
.site-description
    margin-bottom: 100px
    font-family: "Georgia", sans-serif
    a
        font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif
.text-white
    color: #fff
.section
    position: relative
    &-title
        position: absolute
        left: -15px
        padding-left: 0
        height: 100%
        h2
            writing-mode: vertical-lr
            transform: rotate(180deg)
            margin: 0 0 0 -5px
            font-size: 2rem
            height: calc(100% - 22px)