.intro
    color: #ffffff
    background-image: url(../img/bg-header.png)
    background-size: cover
    min-height: 100vh
    margin-bottom: 22px
    .help-block
        font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif
        color: #ffffff