#header
    .navbar-form
        border: none
        box-shadow: none;
.intro
    color: #ffffff
    background-image: url(../img/bg-header.png)
    background-size: cover
    min-height: 590px
    margin-bottom: 22px
    .form-horizontal
        max-width: 692px
    .help-block
        font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif
        color: #ffffff