#header
    color: #ffffff
    background-image: url(../img/bg-header.png)
    background-size: cover
    .navbar
        #q
            width: 500px
            min-width: 100px
            @media screen and (max-width: 768px)
                width: 100%

    .help-block
        font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif
        color: #ffffff
    .site-description
        font-family: "Georgia", sans-serif
        a
            font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif
