#project
    background: url(../img/bg-section.png)
    -webkit-background-size: cover
    background-size: cover
    color: #fff
    h3
        margin: 0
        padding: 0
    p
        margin: 10px 0 50px 0
#history
    background: url(../img/bg-light.png)
    background-color: #92D3E9
    background-size: cover
    .jumbotron
        background-color: transparent;
        h2
            margin-bottom: 40px
        p
            font-size: 19px
#search
    .form-group
        min-width: 200px
#search-results
    padding: 40px 0