#project
    padding: 100px 0
    background: url(../img/bg-section.png)
    -webkit-background-size: cover
    background-size: cover
    color: #fff
    h2
        margin: 0
        padding: 0
    p
        margin: 10px 0 50px 0
#history
    background: url(../img/bg-light.png)
    background-color: #92D3E9
    background-size: cover
    .jumbotron
        background-color: transparent;
#search
    .form-group
        min-width: 200px
        padding-right: 15px
        padding-left: 15px
    .bootstrap-select .dropdown-toggle, #date .form-control
        background-color: #82ca87;
        color: #000
#search-results
    padding: 40px 0
#add
    padding: 50px 0
    .jumbotron
        background-color: #E6E5E6;