#project
    padding: 100px 0
    background: url(../img/fon.jpg) no-repeat
    background-position: 50% 50%;
    color: #fff
    .title-border
        padding: 20px 30px
    h2
        margin: 0
        padding: 0
    p
        margin: 10px 0 50px 0
    .btn
        margin: 10px
        @media screen and (max-width: 500px)
            margin: 10px 0
            margin-right: 0 !important
            font-size: 1em
#history
    background: url(../img/bg-light.png)
    background-color: #92D3E9
    background-size: cover
    .jumbotron
        background-color: transparent;
#search
    .form-group
        min-width: 200px
        padding-right: 15px
        padding-left: 15px
    .bootstrap-select .dropdown-toggle, #date .form-control
        background-color: #82ca87;
        color: #000
#search-results
    padding: 40px 0
#add
    padding: 50px 0
    .jumbotron
        background-color: #E6E5E6;