@require card
@require quick-filters
.mirror
    transform: scale(-1,1)
.section
    padding-top: 25px
    padding-bottom: 25px
    &-title
        padding-left: 0
        h2
            writing-mode: vertical-lr
            transform: rotate(180deg)
            margin: -10px 0 0 0
            padding: 20px 5px