.btn-transparent
    color: #fff !important
    background-color: transparent !important;
    border-color: transparent
    &:hover
        border-color: #fff
.actions
    .btn
        margin: 5px
    .btn.btn-warning
        margin: 0
    .pull-left
        float: none
        margin-right: 15px
    .bootstrap-select
        width: auto !important
        .dropdown-toggle
            background-color: #f0ad4e
            border: 1px solid #f0ad4e
    #add-arrive
        width: 100%
        margin-top: 15px