.btn-transparent
    color: #fff !important
    background-color: transparent !important;
    border-color: transparent
    &:hover
        border-color: #fff
.actions
    @media screen and (max-width: 767px)
        margin-bottom: 80px
    margin-top: 15px
    .pull-left
        margin-right: 15px
    .bootstrap-select
        width: auto !important
        .dropdown-toggle
            background-color: #f0ad4e
            border: 1px solid #f0ad4e
    #add-arrive
        width: 100%
        margin-top: 15px